@font-face {
    font-family: 'pt_sans';
    src: url('/fonts/PTSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sans';
    src: url('/fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'bebas';
    src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.Block {
  width: 100%;
  background-color: #fff;
  font-family: 'pt_sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;

  &__Container {
    max-width: 1440px;
    width: 100%;
    padding: 170px 20px 0;
    background-image: url('/bg_h.svg');
    background-size: cover; /* или contain */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  &__Title {
    position: absolute;
    top: 170px;
    left: 0;
    max-width: 440px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 80px;

    &__Border {
      width: 5px;
      height: 120px;
      background: linear-gradient(#3877EE, #EF5DA8);;
    }

    &__Text {
      font-weight: 700;
      font-size: 56px;
      color: #42567A;
    }
  }
}

.Circle {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 55px;

  &__FromTo {
    position: absolute;
    top: calc(265px - 120px);
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    z-index: 0;

    & > p {
      font-weight: 700;
      font-size: 200px;
    }

    &__From {
      color: #5D5FEF;
    }

    &__To {
      color: #EF5DA8;
    }
  }

  &__PrevNext {
    position: relative;
    z-index: 2;
    max-width: 120px;
    width: 100%;
    align-self: flex-start;

    &__Container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__Counter {
      font-size: 14px;
      color: #42567A;
    }

    &__Btns {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 20px;

      & > button {
        width: 50px;
        height: 50px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.CircleNav {
    position: relative;
    width: 530px;
    height: 530px;
    border-radius: 50%;
    border: 1px solid #42567A;
    z-index: 1;

    &__Rotator {
      position: absolute;
      inset: 0;
      transform-origin: 50% 50%;
      transition: transform 0.5s ease;
    }

    &__Tab {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: 0 0;
        width: 6px;
        height: 6px;
        background-color: #42567A;
        transition: width 0.5s ease, height 0.5s ease, translate 0s ease;
        border-radius: 50%;

        &__Label {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          color: #42567A;
          transition: font-size 0.1s ease;
          font-size: 20px;
        }
    }

    &__TabActive {
      width: 56px;
      height: 56px;
      background-color: #fff;
      border: 1px solid rgba(#303E58, .5);
    }
}

.BottomSlider {
  width: 100%;
  margin-bottom: 105px;

  &__Container {
    width: 100%;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
  }

  &__Btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__Slider {
    width: 100%;

    &__Slide {
      max-width: 320px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: flex-start;

      &__Year {
        font-family: 'bebas';
        font-weight: 400;
        font-size: 25px;
        color: #3877EE;
      }

      &__Fact {
        font-weight: 400;
        font-size: 20px;
        color: #42567A;
        font-family: 'pt_sans';
      }
    }
  }
}